extends layout
block content
  .container
    h2 Reports
    .success
    .error
    table.table
      tbody
        tr
          th Title
          th Location
          th Date & Time
          th Flight #
          th Status
          th Description
          th Media
          th Action
        - var count = 0
        if data.length
         each item in data
          tr(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count)
            td #{item['title']}
            td
                ul.unstyled
                    if item['location']
                        li Latitude: #{item['location']['latitude']}
                        li Longitude: #{item['location']['longitude']}
            td #{item['date_time']}
            td #{item['flight_num']}
            td#statusCell #{item['status']}
            //- td #{item['description']}
            td
                if item['URLs']
                    each link in item['URLs'].length ? item['URLs'] : ['None']
                        a(href="#{link}", target='_blank') #{link}
                        br
            td
               a.editlink(href='javascript:void(0)', data-id='#{item["_id"]}',  id='edit' + '#{item["_id"]}') Edit
               | &nbsp;&nbsp;
               a(href='/deleteReport?id=#{item["_id"]}', onclick='return confirm("You are going to delete this report. Continue?")') Delete
          div(id='myModal' + count class='modal fade' role='dialog')
              div(class='modal-dialog modal-xl' role='document')
                div(class='modal-content')
                  div(class='modal-header')
                    button(type='button' class='close' data-dismiss='modal') &times;
                    h4(class='modal-title') #{data[count]['title']}
                    if #{data[count]['URLs']}
                      each link in #{data[count]['URLs']}.length ? #{data[count]['URLs'] : ['None']
                          a(href="#{link}", target='_blank') #{link}
                          br
                  div(class='modal-body')
                    p.
                      #{data[count]['description']}
          - var link = #{data[count]}

                  div(class='modal-footer')
                    button(type='button' class='btn btn-default' data-dismiss='modal') Close
          - count = count + 1

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script.
      $(function() {

        $(document).on('show.bs.modal','#myModal1', function () {
          alert('hi');
        })

        $('.editlink').on('click', function(){

          var id = $(this).data('id');
          var status = $('#' + id).find("td[id='statusCell']");
          status.attr('contentEditable', 'true');
          status.attr('style', 'border: 2px solid #000;');

          $('#edit' + id).text('Confirm');
          $('#edit' + id).click(function() {

            $.ajax({

                method: "POST",

                url: "/editReport",

                data: { id:  id, status: status.text() },

                success: function(response) {
                            window.location = '/reports';
                        }
            });

          });

        });
      });