extends layout
block content
  .container
    h2 Tip Line Reports
    .success
    .error
    form(id='form1' action='/addReport' method= 'post')
      input#id(type='hidden', name='id', value='')
      table
        tr
          td(style='text-align: center')
            input#title(type='text', name='title', placeholder='Title', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#location(type='text', name='location', placeholder='Location', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#time(type='text', name='time', placeholder='Time', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#date(type='text', name='date', placeholder='Date', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#flight_num(type='text', name='flight_num', placeholder='Flight #', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#status(type='text', name='status', placeholder='Status', value='')
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#subbtn.btn(type='submit', name='sub', value='Add Report')
    table.table
      tbody
        tr
          th Title
          th Location
          th Time
          th Date
          th Flight #
          th Status
          th Action
        if data.length
         each item in data
          tr
            td #{item['title']}
            td #{item['location']}
            td #{item['time']}
            td #{item['date']}
            td #{item['flight_num']}
            td #{item['status']}
            td
               a.editlink(href='javascript:void(0)', data-id='#{item["_id"]}') Edit
               | &nbsp;&nbsp;
               a(href='/deleteReport?id=#{item["_id"]}', onclick='return confirm("You are going to delete this report. Continue?")') Delete

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script.

      $(function() { 

        $('.editlink').on('click', function(){

          var id = $(this).data('id');

          $.ajax({

            method: "GET",

            url: "/fetchdataReport",

            data: { id:  id },

          }).done(function( data ) {

            $('#id').val(data[0]['_id']);

            $('#title').val(data[0]['title']);

            $('#location').val(data[0]['location']);

            $('#time').val(data[0]['time']);
            
            $('#date').val(data[0]['date']);
            
            $('#flight_num').val(data[0]['flight_num']);
            
            $('#status').val(data[0]['status']);

            $("#subbtn").val('Edit Report');

            $('#form1').attr('action', '/editReport');

          });

        });

      });