extends layout
block content
  .container
    h2 Reports
    .success
    .error
    table.table
      tbody
        tr
          th Title
          th Location
          th Date & Time
          th Flight #
          th City
          th Email (Recipient)
          th Status
          th Action
        - var count = 0
        if data.length
         each item in data
          tr(id='#{item["_id"]}' class='highlighted')
            td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count) #{item['title']}
            td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count)
                ul.unstyled
                    if item['coordinates']
                        li Latitude: #{item['coordinates']['latitude']}
                        li Longitude: #{item['coordinates']['longitude']}
            td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count) #{item['date_time']}
            td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count) #{item['flight_num']}
            if item['city']
                td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count) #{item['city']}, #{item['country']}
            else
                td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count)
            if item['additional_email']
                td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count) #{item['additional_email']}
            else
                td(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count)
            td#statusCell #{item['status']}
            td(width="20%")
               a.editlink(href='javascript:void(0)', data-id='#{item["_id"]}',  id='edit' + '#{item["_id"]}') Change Status
               | &nbsp;&nbsp;
               a(href='/deleteReport?id=#{item["_id"]}', onclick='return confirm("You are going to delete this report. Continue?")') Delete
               | &nbsp;&nbsp;
               a(href='/banUser?user_id=#{item["user_id"]}', onclick='return confirm("You are going to ban the user that sent this report. Continue?")') Ban
          div(id='myModal' + count, class='modal fade', tabindex="-1", role='dialog', aria-labelledby="exampleModalLabel", aria-hidden="true")
              div(class='modal-dialog modal-xl' role='document')
                div(class='modal-content')
                  div(class='modal-header')
                    button(type='button' class='close' data-dismiss='modal') &times;
                    h3(class='modal-title') #{data[count]['title']}
                  div(class='modal-body')
                    p
                      b Date: </b> #{data[count]['date_time']}
                    p
                      b Flight #: </b> #{data[count]['flight_num']}
                    if data[count]['coordinates']
                        p
                          b Location: </b>
                          div Latitude: #{data[count]['coordinates']['latitude']}
                          div Longitude: #{data[count]['coordinates']['longitude']}
                    p
                      b Description:</b> #{data[count]['description']}
                    if data[count]['city']
                        p
                         b City:</b> #{data[count]['city']}, #{data[count]['country']}
                    if data[count]['additional_email']
                        p
                         b Email (Recipient):</b> #{data[count]['additional_email']}
                    p
                     b Status:</b> #{data[count]['status']}
                    p
                      b Multimedia:
                    p
                    - var links = data[count].URLs
                    if links
                      each link, i in links
                        if link.includes("video")
                          a(href=link, target='_blank')
                            button(type='button' class='btn btn-default') Video Link
                            | &nbsp;&nbsp;
                        else
                          a(href=link, target='_blank')
                            img(src=link style='width:80px;height:80px;')
                            | &nbsp;&nbsp;
                  div(class='modal-footer')
                    button(type='button' class='btn btn-default' data-dismiss='modal') Close

          - count = count + 1

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script.
      $(function() {

        $('.editlink').on('click', function(){
          console.log("hello!");
          var id = $(this).data('id');
          console.log(id);
          var status = $('#' + id).find("td[id='statusCell']");
          //- status.attr('contentEditable', 'true');
          //- status.attr('style', 'border: 2px solid #000;');
          if (status.text() === 'Complete') {
            status.text('Responders Alerted');   
          } else {
            status.text('Complete');
          }
          $.ajax({
            method: "POST",

            url: "/editReport",

            data: { id:  id, status: status.text() },

            success: function(response) {
                        window.location = '/reports';
            }
          });
        });
      });