extends layout
block content
  .container
    h2 Reports
    .success
    .error
    table.table
      tbody
        tr
          th Title
          th Location
          th Date & Time
          th Flight #
          th Status
          th Sender ID
          th Action
        - var count = 0
        if data.length
         each item in data
          tr(id='#{item["_id"]}' class='clickable' data-toggle='modal' data-target='#myModal' + count data-id=count)
            td #{item['title']}
            td
                ul.unstyled
                    if item['location']
                        li Latitude: #{item['location']['latitude']}
                        li Longitude: #{item['location']['longitude']}
            td #{item['date_time']}
            td #{item['flight_num']}
            td#statusCell #{item['status']}
            td #{item['user_id']}
            //- td #{item['description']}
            //- td
            //-     if item['URLs']
            //-         each link in item['URLs'].length ? item['URLs'] : ['None']
            //-             a(href="#{link}", target='_blank') #{link}
            //-             br
            td
               a.editlink(href='javascript:void(0)', data-id='#{item["_id"]}',  id='edit' + '#{item["_id"]}') Edit
               | &nbsp;&nbsp;
               a(href='/deleteReport?id=#{item["_id"]}', onclick='return confirm("You are going to delete this report. Continue?")') Delete
          div(id='myModal' + count, class='modal fade', tabindex="-1", role='dialog', aria-labelledby="exampleModalLabel", aria-hidden="true")
              div(class='modal-dialog modal-xl' role='document')
                div(class='modal-content')
                  div(class='modal-header')
                    button(type='button' class='close' data-dismiss='modal') &times;
                    h3(class='modal-title') #{data[count]['title']}
                  div(class='modal-body')
                    p
                      b Date: </b> #{data[count]['date_time']}
                    p
                      b Flight #: </b> #{data[count]['flight_num']}
                    if data[count]['location']
                        p
                          b Location: </b>
                          div Latitude: #{data[count]['location']['latitude']}
                          div Longitude: #{data[count]['location']['longitude']}
                    p
                      b Description:</b> #{data[count]['description']}
                    p
                     b Status:</b> #{data[count]['status']}
                    p
                      b Multimedia:
                    p
                    - var links = data[count].URLs
                    if links
                      each link, i in links
                        if link.includes("video")
                          a(href=link, target='_blank')
                            button(type='button' class='btn btn-default') Video Link
                            | &nbsp;&nbsp;
                        else
                          a(href=link, target='_blank')
                            img(src=link style='width:80px;height:80px;')
                            | &nbsp;&nbsp;
                    p
                      b Sender ID:</b> #{data[count]['user_id']}
                  div(class='modal-footer')
                    button(type='button' class='btn btn-default' data-dismiss='modal') Close
          - count = count + 1

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script.
      $(function() {

        $('.editlink').on('click', function(){

          var id = $(this).data('id');
          var status = $('#' + id).find("td[id='statusCell']");
          status.attr('contentEditable', 'true');
          status.attr('style', 'border: 2px solid #000;');

          $('#edit' + id).text('Confirm');
          $('#edit' + id).click(function() {

            $.ajax({

                method: "POST",

                url: "/editReport",

                data: { id:  id, status: status.text() },

                success: function(response) {
                            window.location = '/reports';
                        }
            });

          });

        });
      });